
.App {
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----- NAVBAR ----- */

.navbar{
  background-color: rgba(0,0,0,255);
  color: white;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.navbar img{
  max-height: 7rem;
}

.navbar ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  padding: 0%;
  margin: 0%;
  height: 100%;

}

.navbar a{
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 0%;
}

.navbar li{
  height: 100%;
}

.navbar li.active{
  background-color: #555;
}
.navbar li:hover{
  background-color: #777;
}


/* ----- MENU ----- */

.menu{
  margin: 5rem 15rem;
  border: black;
  border-style: solid;
  border-width: 5px;
}

.burger-container{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.burger-card{
  border: black;
  border-style: solid;
  border-width: 1px;
  font-size: large;
  border-radius: 13px;
  height: 15rem;
}

.burger-short{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem;
}

.text-a-left{
  margin-left: 1rem;
  text-align: left;
}

.text-a-right{
  margin-right: 1rem;
  text-align: right;
}

.menu-image{
  overflow: hidden;
  height: 73%;
  border-radius: 10px;
}

.burger-card img{
  width: 100%;
  transform: translate(0%, -30%);
}